
body {
        background-color: blue;
    }

body {
  background-color: rgb(112, 56, 56);
}
.container {
  width: 410px;
  margin: 10% auto;
}
.shadow {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 0.8em;
  letter-spacing: 0.1em;
     /* transform: scale(1.5); */
  margin:0;
  text-align: center;
}
.title-class {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 40px;
  position: relative;
  /* margin:0; */
}

#hat_image {

position: relative;
/* float: right; */
 margin-left: 450px; 
 margin-top: 20px;
/* margin: auto; */

}
canvas {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  border: solid 1px white;
  border-radius: 10px;
}

#thebutton {
border: black;
  color: green;
  font-size: 30px;
  text-align: center;
  margin: auto;
  margin-left: 300px;
  margin-top: 20px;
}

.text-one {
  font-size: 60px;
}
.text-two {
  font-size: 169px;
}
.text-three {
  font-size: 100px;
}

#my-quiz {
background-color: blue;
  max-width: 300px;
  margin: auto 40px auto 40px;
  background: yellow;
  /* height: 30px; */
  padding: 10px;
  /* padding-top: 400px; */
  margin-bottom: 500px;
}
#countdown{
  font-size: 50px;
  text-align: center;
}